<div class="contact-container">
    <div class="contact-heading">
      <h2>Contact Us</h2>
    </div>
    <div class="contact-content">
      <div class="contact-image">
        <!-- Add your image here -->
        <img src="assets/contactus.jpg" alt="Contact Us Image">
      </div>
      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="name">Your Name:</label>
          <input type="text" id="name" formControlName="name">
          <div *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
            Name is required.
          </div>
  
          <label for="email">Your Email:</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">
            Email is required.
          </div>
          <div *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched">
            Invalid email format.
          </div>
  
          <label for="message">Your Message:</label>
          <textarea id="message" formControlName="message"></textarea>
          <div *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched">
            Message is required.
          </div>
  
          <button type="submit" [disabled]="!contactForm.valid">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  