<!-- about-us.html -->
<div class="about-page">
    <div class="app-about-section">
      <img src="assets/about.jpg" alt="Company Building">
      <div class="content">
        <h1>EzyInsure</h1>
        <p>
          Established in 1990, EzyInsure is a trusted name in providing
          comprehensive insurance solutions. We are committed to ensuring the
          security and peace of mind for our clients.Established in 1990, EzyInsure is a trusted name in providing
          comprehensive insurance solutions. We are committed to ensuring the
          security and peace of mind for our clients.Established in 1990, EzyInsure is a trusted name in providing
          comprehensive insurance solutions. We are committed to ensuring the
          security and peace of mind for our clients.Established in 1990, EzyInsure is a trusted name in providing
          comprehensive insurance solutions. We are committed to ensuring the
          security and peace of mind for our clients.
        </p>
      </div>
    </div>
  </div>
  